<a ui-sref="signIn" >Sign in</a>|
<a ui-sref="presence" >who's here</a>

<div ng-controller="StudentsCtrl" ng-show="students.length">
        <h2>Student List</h2>
        <ul>
          <li ng-repeat="item in students">
            {{item.name}} {{item.presence}}
            <a ng-show=!(item.presence)  class="btn btn-primary btn-xs active" role="button" ng-click="item.presence=true">Sign in</a>
            <a ng-hide=!(item.presence) class="btn btn-primary btn-xs active" role="button">Sign out</a>
          </li>
        </ul>
</div>
